/* Gruvbox Color Palette - https://github.com/morhetz/gruvbox
 * Light mode (gruvbox-light-soft):
 *   bg: #f2e5bc, fg: #3c3836
 *   link: #076678 (blue), visited: #8f3f71 (purple), hover: #af3a03 (orange)
 *   selection: #d5c4a1 (tan)
 * Dark mode (gruvbox-dark-soft):
 *   bg: #32302f, fg: #ebdbb2
 *   link: #83a598 (blue), visited: #d3869b (purple), hover: #fe8019 (orange)
 *   selection: #504945 (gray)
 */

/* IBM Plex Fonts - https://github.com/IBM/plex (SIL Open Font License) */
@font-face {
	font-family: "IBM Plex Sans";
	src: url("fonts/IBMPlexSans-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("fonts/IBMPlexSans-Italic.otf") format("opentype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("fonts/IBMPlexSans-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Serif";
	src: url("fonts/IBMPlexSerif-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("fonts/IBMPlexMono-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

html {
	font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.4;
	overflow-y: scroll;
}

code, pre {
	font-family: "IBM Plex Mono", "SF Mono", Monaco, "Cascadia Code", "Roboto Mono", Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "IBM Plex Serif", Georgia, serif;
}

header {
	margin-bottom: 2rem;
}

header > h1 {
	text-align: center;
	margin-bottom: 0.5rem;
}

header > em {
	display: block;
	text-align: right;
	margin-bottom: 0.5rem;
}

body {
	background: #f2e5bc;
	color: #3c3836;
}

::selection {
	background: #d5c4a1;
	color: #3c3836;
}

main {
	margin-bottom: 2rem;
}

footer {
	margin-top: 2rem;
}

footer :is(div, p) {
	text-align: center;
}

/* Back to top button - only on mobile/touch devices */
.back-to-top {
	display: none;
}

@media (any-pointer: coarse) {
	.back-to-top {
		display: block;
		position: fixed;
		bottom: 1rem;
		right: 1rem;
		font-size: 1.5rem;
		line-height: 1;
		padding: 0.5rem;
		border: none;
		background: none;
	}
}

nav {
	display: block;
	text-align: center;
	margin: 0.5rem 0;
}

img {
	height: auto;
	width: 100%;
}

pre {
	overflow: auto;
	padding-left: 0.5em;
	border-left: 2px solid #d5c4a1;
}

pre table td:nth-of-type(1) {
	text-align: right;
	user-select: none;
}

pre table td:nth-of-type(2) {
	padding-left: 0.5em;
}

pre mark {
	display: block;
	background: #d5c4a1;
	color: inherit;
}

pre table {
	border-collapse: collapse;
}

a {
	padding: 0px .2em;
	text-decoration: none;
	border-bottom: 1px solid #076678;
	color: #076678;
}

a:visited {
	color: #8f3f71;
	border-bottom-color: #8f3f71;
}

@media (any-pointer: coarse) {
  a {
	  padding: 0px .4em;
  }
}

a:hover {
	color: #af3a03;
	border-bottom-color: #af3a03;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #32302f;
		color: #ebdbb2;
	}

	a {
		color: #83a598;
		border-bottom-color: #83a598;
	}

	a:visited {
		color: #d3869b;
		border-bottom-color: #d3869b;
	}

	a:hover {
		color: #fe8019;
		border-bottom-color: #fe8019;
	}

	::selection {
		background: #504945;
		color: #ebdbb2;
	}

	pre mark {
		background: #504945;
	}

	pre {
		border-left-color: #504945;
	}
}

.post-footer {
	border-style: outset;
}

.error-page {
	text-align: center;
	padding: 10rem 0;
}

/* Responsive container - https://youtu.be/K24lUqcT0Ms */
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}
}
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
