html {
	font-size: 18px;
}

header > h1 {
	text-align: center;
}

header > em {
	display: block;
	text-align: right;
	margin-bottom: 1rem;
}

body {
	background: #f9f9f9;
}

::selection {
	background: #fad3aa;
}

footer :is(div, p) {
	text-align: center;
}

nav {
	display: block;
	text-align: center;
	margin: 1rem;
}

img {
	height: auto;
	width: 100%;
}

pre {
	overflow: auto;
}

pre table td:nth-of-type(1) {
	text-align: center;
	user-select: none;
}

pre mark {
	display: block;
}

pre table {
	border-collapse: collapse;
}

a {
	padding: 0px .2em;
	text-decoration: none;
	border-bottom: 1px solid teal;
}


@media (any-pointer: coarse) {
  a {
	  padding: 0px .4em;
  }
}

a:hover {
	color: orange;
}

@media (prefers-color-scheme: dark) {
	html,
	img,
	video,
	iframe,
	.emoji {
		filter: invert(0.85) sepia(0.15) hue-rotate(180deg);
	}
}

/* start https://youtu.be/K24lUqcT0Ms */
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}
}
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
/* end https://youtu.be/K24lUqcT0Ms */
