{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {%- block title %}
    {%- set title = config.title %}
    {%- endblock title %}
    {{- macros::basic_meta(title=title) -}}
    <link rel="stylesheet" href="{{ get_url(path='styles.css', cachebust=true) }}">
  </head>
  <body class="container">
    <header>
      <h1 id="top">{{ config.title }}</h1>
      <em>... {{ config.description }},
        <a href="javascript:setScheme('dark');">night</a>
        or
        <a href="javascript:setScheme('light');">day</a>,
        <a href="javascript:addFontSize(-1);">small</a>
        or
        <a href="javascript:addFontSize(1);">big</a>.</em>
      {% include "nav.html" %}
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      {% include "nav.html" %}
      <div>
        <a href="#">⇑</a> &bull;
        <label><input type="checkbox" id="te-debug">🔨</label> &bull;
        <a href="javascript:resetVars();">↺</a>
      </div>
      <p>© {{ now() | date(format="%Y") }} Leela Venkaiah G</p>
    </footer>
    <script src="{{ get_url(path='script.js', cachebust=true) }}"></script>
  </body>
</html>