{% macro basic_meta(title, description, noindex) %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ config.author }}">
{% if current_url  %}
<meta name="url" content="{{ current_url | safe }}">
<link rel="canonical" href="{{ current_url | safe }}">
<base href="{{ current_url | safe }}">
{% endif %}
{% if noindex %}
<meta name="robots" content="noindex,follow">
<meta name="googlebot" content="noindex,follow">
{% else %}
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
{% endif %}
<meta name="description" content="{{ description | safe }}">
<meta name="publisher" content="{{ config.base_url | safe }}">
<title>{{ title | safe }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="{{ config.base_url | safe }}/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ config.base_url | safe }}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ config.base_url | safe }}/images/favicon-16x16.png">
<link rel="icon" href="{{ config.base_url | safe }}/images/favicon.ico">
<link rel="manifest" href="{{ config.base_url | safe }}/images/site.webmanifest">
{% endmacro basic_meta %}

{% macro og_meta(title, description) %}
<meta property="og:title" content="{{ title }}">
<meta property="og:site_name" content="{{ config.base_url | safe }}">
<meta property="og:description" content="{{ description | safe }}">
<meta property="og:type" content="blog">
<meta property="article:author" content="{{ config.author }}">
{% if current_url  %}
<meta property="og:url" content="{{ current_url | safe }}">
{% endif %}
{% endmacro og_meta %}
