{% extends "base.html" %}
{% block basic_meta %}
{% set title = page.title ~ " | " ~ config.title %}
{% set description = page.content | truncate(length=250) | striptags %}
{% endblock basic_meta %}
{% block content %}
<article>
  <h1>{{ page.title | safe }}</h1>
  {% if page.date or page.taxonomies %}
  <p>
    {% if page.date %}
        {{ page.date | date(format="%Y-%b-%d") }} &bull;
    {% endif %}

    {% set_global sorted_taxonomies = [] %}
    {% for taxonomy_name, _ in page.taxonomies %}
      {% set_global sorted_taxonomies = sorted_taxonomies | concat(with=taxonomy_name) %}
    {% endfor %}

    {% set_global sorted_taxonomies = sorted_taxonomies | sort %}
    {% for taxonomy_name in sorted_taxonomies %}
      {% set terms = page.taxonomies[taxonomy_name] %}
      {{ taxonomy_name | capitalize }}:
      {% for term_name in terms %}
        {% set term = get_taxonomy_term(kind=taxonomy_name, term=term_name) %}
    <a href="{{ term.permalink | safe }}">{{ term.name }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
    {% endfor %}
  </p>
  {% endif %}
{{ page.content | safe }}
  <i style="border-style: outset;">Send an
    <a href="mailto:leelavg+blog@thougthexpo.com">email</a>
    for any comments.</i>
</article>
{% endblock content %}