{% extends "base.html" %}
{% block basic_meta %}
{% set title = section.title ~ " | " ~ config.title %}
{% set description = "A section with list of all " ~ section.title %}
{% set noindex = true %}
{% endblock basic_meta %}
{% block content %}
<section>
	{% if section.pages %}
	{% set posts_by_year = section.pages | group_by(attribute="year") %}
	{% for year in posts_by_year | keys | sort | reverse %}
	{% set posts = posts_by_year[year] %}
	<h3>{{ year }}</h3>
	<ul>
		{% for post in posts %}
		<li><a href="{{ post.permalink | safe }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
	{% endfor %}
	{% else %}
	<p>No posts yet.</p>
	{% endif %}
</section>
{% endblock content %}
