{% extends "base.html" %}
{% block title %}
{%- set title = taxonomy.name ~ " | " ~ config.title %}
{%- endblock title %}
{% block content %}
<article>
  {% set taxonomy_count = get_taxonomy(kind=taxonomy.name) | get(key="items") | length %}
  <h1>{{ taxonomy.name }} ({{ taxonomy_count }})</h1>
  <div>
    <ul>
      {% for term in terms %}
      <li>
        <a href="{{ term.permalink }}">{{ term.name }}</a>
        {% set count = term.page_count %}
        <span>({{ count }})</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock content %}