{% extends "base.html" %}
{% block basic_meta %}
{% set title = term.name ~ " | " ~ config.title %}
{% set description = "List of all posts with the tag " ~ term.name %}
{% set noindex = true %}
{% endblock basic_meta %}
{% block content %}
<section>
	<h3>{{ term.name }}</h3>
	<ul>
		{% for page in term.pages %}
		<li>
			<a href="{{ page.permalink | safe }}">{{ page.title }}</a>
			{% if page.date %}<span>({{ page.date | date(format="%Y-%b-%d") }})</span>{% endif %}
		</li>
		{% endfor %}
	</ul>
</section>
{% endblock content %}
